<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
<<<<<<< HEAD

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
=======
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <ul>
        <li><a href="#">ホーム</a></li>
        <li><a href="#">通知</a></li>
        <li><a href="#">メッセージ</a></li>
        <li><a href="#">見つける</a></li>
      </ul>
    </header>

    <%= yield %>

    <footer>
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <li class="navbar-toggle collapsed"><a href="#">タイムライン</a></li>
          <li><a href="#">通知</a></li>
          <li><a href="#">メッセージ</a></li>
          <li><a href="#">アカウント</a></li>
       </div>
      </nav>
    </footer>
>>>>>>> 68602dc2b33b5a6d41371e8f38a118e0bc90f0e1
  </body>
</html>
